
extends layout

block layout-content  
    img(src="/AFRICA2.jpg")
    form(method="post" action="/user")
        input(type="text" name="first_Name" placeholder="firstName") 
        input(type="text" name="last_Name" placeholder="lastName")
        input(type="submit" value="submit")
           

    


  


        

